@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-input-checkbox/lib/react-input-checkbox.min.css';

html{
  overflow-x: hidden !important;
  overflow-y:auto !important;
  user-select: none;
}

.__react_component_tooltip{
  background:#35363a !important;
  opacity:1 !important;
  border-radius:20px !important;
}

.__react_component_tooltip::before{
  opacity:0 !important;
}

.__react_component_tooltip::after{
  opacity:0 !important;
}

/*!=============================================
=            Top Product Style           =
/*!=============================================*/

.top_product svg circle {
  fill: #1c64ec;
}
.top_product svg rect{
  fill: #fff;
}
.product-of-day svg circle{
  fill: #0eaf62;
  stroke: #fff;
}
.product-of-day svg polyline{
  fill: #0eaf62;
  stroke: #fff;
}

.swipe {
  position: absolute;
}

/*!=====  End of Top Product Style  ======*/
/*=============================================
=            Scrollbar Category            =
=============================================*/

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	height: 1px;
	background-color: #5e5f60;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

/*=====  End of Scrollbar Category  ======*/




/**=============================================
=            React Select Styles            =
/**=============================================*/

.css-1dimb5e-singleValue,
.css-166bipr-Input{
  color:#fff !important;
}

/**=====  End of React Select Styles  ======*/





/**=============================================
=            CSS FOR CHECKBOX            =
/**=============================================*/

.bootstrap-checkbox {
  padding-left: 1.5rem;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.bootstrap-checkbox__image {
  margin-left: -1.5rem;

  border: #5e5f60 solid 1px;
  border-radius: .25rem;

  background-color: #35363a;

  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bootstrap-checkbox__input:checked + .bootstrap-checkbox__image {
  border-color: #007bff;
  background: #007bff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J002LjU2NC43NWwtMy41OSAzLjYxMi0xLjUzOC0xLjU1TDAgNC4yNiAyLjk3NCA3LjI1IDggMi4xOTN6Jy8+PC9zdmc+) no-repeat 50%/50% 50%;
}
.bootstrap-checkbox__input_indeterminate + .bootstrap-checkbox__image {
  border-color: #007bff;
  background: #007bff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e") no-repeat 50%/50% 50%;
}
.bootstrap-checkbox__input:disabled + .bootstrap-checkbox__image {
  background-color: #e9ecef;
}
.bootstrap-checkbox__input:checked:disabled + .bootstrap-checkbox__image,
.bootstrap-checkbox__input_indeterminate:disabled + .bootstrap-checkbox__image {
  background-color: rgba(0,123,255,.5);
}
.bootstrap-checkbox__input:focus + .bootstrap-checkbox__image {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bootstrap-checkbox__label {
  vertical-align: middle;
}


/**=====  End of CSS FOR CHECKBOX  ======**/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#logo {
  animation: spin 1s ease-in-out infinite;
}

/* Console Styles */
.console {
  background-color: #242424;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 12px;
  border-left: 1px solid #333;
  overflow-y: auto;
  width: full;
}

.console-header {
  color: #b3b3b3;
  border-bottom: 1px solid #333;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.console-header button {
  background: none;
  border: none;
  color: #b3b3b3;
  cursor: pointer;
  margin-right: 16px;
}

.console-log {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
}

.console-log-icon {
  width: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.console-log-content {
  flex-grow: 1;
}

.log-error .console-log-icon {
  color: #e66;
}

.log-warn .console-log-icon {
  color: #eecc00;
}

.log-info .console-log-icon {
  color: #00f;
}

.editorWrapper {
  background-color: #1e1e1e;
  color: white;
}


.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.Toastify__toast {
  border-radius: 8px;
  padding: 15px;
  color: #fff;
  background: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--info {
  background: #007bff;
}

.Toastify__toast--success {
  background: #28a745;
}

.Toastify__toast--warning {
  background: #ffc107;
}

.Toastify__toast--error {
  background: #dc3545;
}

.Toastify__close-button {
  color: #fff;
  font-size: 16px;
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.6);
}

[class^="makeStyles-copyUrl-"]{
  color:#000000 !important;
}

.react-share__ShareButton:focus{
  outline:none !important;
}

.no-scrollbar {
  /* For Internet Explorer, Edge */
  -ms-overflow-style: none;

  /* For Firefox */
  scrollbar-width: none;

  /* For Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
