@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-input-checkbox/lib/react-input-checkbox.min.css';

html{
  overflow-x: hidden !important;
  overflow-y:auto !important;
}

.__react_component_tooltip{
  background:#35363a !important;
  opacity:1 !important;
  border-radius:20px !important;
}

.__react_component_tooltip::before{
  opacity:0 !important;
}

.__react_component_tooltip::after{
  opacity:0 !important;
}

/*!=============================================
=            Top Product Style           =
/*!=============================================*/

.top_product svg circle {
  fill: #1c64ec;
}
.top_product svg rect{
  fill: #fff;
}
.product-of-day svg circle{
  fill: #0eaf62;
  stroke: #fff;
}
.product-of-day svg polyline{
  fill: #0eaf62;
  stroke: #fff;
}

.swipe {
  position: absolute;
}

/*!=====  End of Top Product Style  ======*/
/*=============================================
=            Scrollbar Category            =
=============================================*/

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	height: 1px;
	background-color: #5e5f60;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

/*=====  End of Scrollbar Category  ======*/




/**=============================================
=            React Select Styles            =
/**=============================================*/

.css-1dimb5e-singleValue,
.css-166bipr-Input{
  color:#fff !important;
}

/**=====  End of React Select Styles  ======*/





/**=============================================
=            CSS FOR CHECKBOX            =
/**=============================================*/

.bootstrap-checkbox {
  padding-left: 1.5rem;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.bootstrap-checkbox__image {
  margin-left: -1.5rem;

  border: #5e5f60 solid 1px;
  border-radius: .25rem;

  background-color: #35363a;

  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bootstrap-checkbox__input:checked + .bootstrap-checkbox__image {
  border-color: #007bff;
  background: #007bff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyNmZmYnIGQ9J002LjU2NC43NWwtMy41OSAzLjYxMi0xLjUzOC0xLjU1TDAgNC4yNiAyLjk3NCA3LjI1IDggMi4xOTN6Jy8+PC9zdmc+) no-repeat 50%/50% 50%;
}
.bootstrap-checkbox__input_indeterminate + .bootstrap-checkbox__image {
  border-color: #007bff;
  background: #007bff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e") no-repeat 50%/50% 50%;
}
.bootstrap-checkbox__input:disabled + .bootstrap-checkbox__image {
  background-color: #e9ecef;
}
.bootstrap-checkbox__input:checked:disabled + .bootstrap-checkbox__image,
.bootstrap-checkbox__input_indeterminate:disabled + .bootstrap-checkbox__image {
  background-color: rgba(0,123,255,.5);
}
.bootstrap-checkbox__input:focus + .bootstrap-checkbox__image {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bootstrap-checkbox__label {
  vertical-align: middle;
}


/**=====  End of CSS FOR CHECKBOX  ======**/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#logo {
  animation: spin 1s ease-in-out infinite;
}
