# This is a basic workflow to help you get started with Actions

name: Lazyweb Build and Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: "npm"
    - uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22
        script: |
          echo "Deploying... using"
          node -v
          export NVM_DIR=~/.nvm
          source ~/.nvm/nvm.sh
          node -v
          nvm -v
          echo "Going in the Lazyweb Directory"
          cd lazyweb
          echo "Stopping the running server"
          pm2 stop lazyweb
          pm2 stop landing
          pm2 stop server
          echo "Taking pull"
          git pull origin main
          echo "NPM install"
          npm i
          echo "Building the build..."
          while true; do
            npm run build
            if [ $? -eq 137 ]; then
              echo "npm run build command was killed, retrying..."
              continue
            else
              break
            fi
          done
          echo "Starting PM2 Again"
          pm2 start lazyweb
          pm2 start landing
          pm2 start server
